:root {
  --firstcolor-primary: #EB9665;
  --secondcolor-secondary: #71A6A6;
  --secondcolor-primary: #65BEBB;
  --firstcolor-secondary: #967F72;
  --secondcolor-background: #3A4242;
  --firstcolor-background: #3D322B;
}
